body {
    background-color: rgb(255, 243, 220);
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1525193612562-0ec53b0e5d7c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29mZmVlJTIwc2hvcHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
}

.jumbotron h1 {
    color: white;
}

.mission {
    background-color: rgba(82, 29, 0, 0.666);
    color: white;
    padding: 1em !important;
    border-radius: 2em;
}

.mission p {
    font-family: "Raleway" "sans-serif";
    font-size: 1.0em;
    text-align: center;
}

.features {
    padding: 5% o;
    background-color: #323232;
    color: white;
    padding: 1em !important;
    border-radius: 2em;
}

.features p {
    font-family: "Muli", "sans-serif";
    text-align: center;
    font-size: 1.2em;
    padding-top: 1-em;
}

.features img {
    border-radius: 2em;
}

.video {
    width: 75%;
}

footer {
    background-color: #f8f9fa;
    padding: 1em;
    color: #6c757d;
}

footer a {
    color: #6c757d;
    text-decoration: none;
}

footer a:hover {
    color: #212529;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

footer li {
    margin: 0 1em;
}

@media screen and (max-width: 776px) {
    .video {
      width: 90%;
    }
   
    footer .col-md-4 {
      margin-top: 20px;
    }
  }